<section class="container-fluid body">
  <div class="h-100 dashboard_main_container">

    <div class="row post_a_job_main">

      <div class="col-12">
        <form class="example-form">


          <div class="row post_a_job_sections">
            <div class="col-12 col-md-6">
              <p class="text-uppercase text-bold">
                <b>job title <span style="color: #FF4F57;"> * </span> </b>
              </p>

              <mat-form-field appearance="outline">
                <mat-label>Job Title</mat-label>
                <input matInput placeholder="Enter Job Title">
              </mat-form-field>
            </div>

            <div class="col-12 col-md-6">
              <p class="text-uppercase text-bold">
                <b>Industry <span style="color: #FF4F57;"> * </span> </b>
              </p>

              <mat-form-field appearance="outline">
                <mat-label>Industry</mat-label>
                <mat-select placeholder="Select Industry">
                  <mat-option value="Software">Software</mat-option>
                  <mat-option value="Account">Account</mat-option>
                  <mat-option value="Banking">Banking</mat-option>
                  <mat-option value="Hardware">Hardware</mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="col-12 col-md-6">
              <p class="text-uppercase text-bold">
                <b>Functional Area <span style="color: #FF4F57;"> * </span> </b>
              </p>

              <mat-form-field appearance="outline">
                <mat-label>Functional Area</mat-label>
                <mat-select placeholder="Select Industry">
                  <mat-option value="Software">Software</mat-option>
                  <mat-option value="Account">Account</mat-option>
                  <mat-option value="Banking">Banking</mat-option>
                  <mat-option value="Hardware">Hardware</mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="col-12 col-md-6">
              <p class="text-uppercase text-bold">
                <b>Location <span style="color: #FF4F57;"> * </span> </b>
              </p>

              <mat-form-field appearance="outline">
                <mat-label>Location</mat-label>
                <mat-select placeholder="Select Industry">
                  <mat-option value="Software">Software</mat-option>
                  <mat-option value="Account">Account</mat-option>
                  <mat-option value="Banking">Banking</mat-option>
                  <mat-option value="Hardware">Hardware</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>

          <hr>

          <div class="row post_a_job_sections">
              <div class="col-12 col-md-12 pb-4">
                  <p class="text-uppercase text-bold">
                    <b>Job Type <span style="color: #FF4F57;"> * </span> </b>
                  </p>

                  <section class="job-type-section">
                    <mat-checkbox class="job-type-margin">Full time</mat-checkbox>
                    <mat-checkbox class="job-type-margin">Part time</mat-checkbox>
                    <mat-checkbox class="job-type-margin">Intern</mat-checkbox>
                    <mat-checkbox class="job-type-margin">Gig</mat-checkbox>
                    <mat-checkbox class="job-type-margin">Contract</mat-checkbox>
                  </section>
                </div>



                <div class="col-12 col-md-12">

                  <div class="row">
                    <div class="col-12 col-md-6">
                      <p class="text-uppercase text-bold">
                        <b>Qualification <span style="color: #FF4F57;"> * </span> </b>
                      </p>

                      <mat-form-field appearance="outline">
                        <mat-label>Qualification</mat-label>
                        <input matInput placeholder="Qualification">
                      </mat-form-field>
                    </div>
                  </div>

                </div>



                <div class="col-12 col-md-12">
                  <p class="text-uppercase text-bold">
                    <b>Experience <span style="color: #FF4F57;"> * </span> </b>
                  </p>

                  <div class="row">
                    <div class="col-12 col-md-6">
                      <mat-form-field appearance="outline">
                        <mat-label>Experience</mat-label>
                        <mat-select placeholder="Fresher">
                          <mat-option value="1 Year">1 Year</mat-option>
                          <mat-option value="2 Years">2 Years</mat-option>
                          <mat-option value="3 Years">3 Years</mat-option>
                          <mat-option value="4 Years">4 Years</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>

                    <div class="col-12 col-md-6">
                      <mat-form-field appearance="outline">
                        <mat-label>Experience</mat-label>
                        <mat-select placeholder="Fresher">
                          <mat-option value="1 Year">1 Year</mat-option>
                          <mat-option value="2 Years">2 Years</mat-option>
                          <mat-option value="3 Years">3 Years</mat-option>
                          <mat-option value="4 Years">4 Years</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>
                </div>



                <div class="col-12 col-md-12">
                  <p class="text-uppercase text-bold">
                    <b>Salary <span style="color: #FF4F57;"> * </span> </b>
                  </p>

                  <div class="row">
                    <div class="col-12 col-md-6">
                      <mat-form-field appearance="outline">
                        <mat-label>Salary</mat-label>
                        <mat-select placeholder="Fresher">
                          <mat-option value="1 Year">1 Year</mat-option>
                          <mat-option value="2 Years">2 Years</mat-option>
                          <mat-option value="3 Years">3 Years</mat-option>
                          <mat-option value="4 Years">4 Years</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>

                    <div class="col-12 col-md-6">
                      <mat-form-field appearance="outline">
                        <mat-label>Salary</mat-label>
                        <mat-select placeholder="Fresher">
                          <mat-option value="1 Year">1 Year</mat-option>
                          <mat-option value="2 Years">2 Years</mat-option>
                          <mat-option value="3 Years">3 Years</mat-option>
                          <mat-option value="4 Years">4 Years</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>
                </div>




                <div class="col-12 col-md-12">
                  <p class="text-uppercase text-bold">
                    <b>Date of joining <span style="color: #FF4F57;"> * </span> </b>
                  </p>
                  <mat-radio-group>
                    <mat-radio-button class="mr-md-5 mr-0" value="1">Immediate</mat-radio-button>
                    <mat-radio-button value="2">28-02-2019</mat-radio-button>
                  </mat-radio-group>
                </div>
          </div>

          <hr>


          <div class="row post_a_job_sections">
              <div class="col-12 col-md-12">
                  <p class="text-uppercase text-bold">
                    <b>Short Job Description<span style="color: #FF4F57;"> * </span> </b>
                  </p>
                  <div class="example-container">
                    <mat-form-field appearance="outline">
                      <mat-label>Short Job Description</mat-label>
                      <textarea matInput placeholder="Textarea" style="min-height: 80px;"></textarea>
                    </mat-form-field>
                  </div>
                </div>




                <div class="col-12 col-md-12">
                  <p class="text-uppercase text-bold">
                    <b>Job Briefing<span style="color: #FF4F57;"> * </span> </b>
                  </p>
                  <div class="example-container">
                    <mat-form-field appearance="outline">
                      <mat-label>Job Briefing</mat-label>
                      <textarea matInput placeholder="Textarea" style="min-height: 200px;"></textarea>
                    </mat-form-field>
                  </div>
                </div>




                <div class="col-12 col-md-12">
                  <p class="text-uppercase text-bold">
                    <b>Job Skills<span style="color: #FF4F57;"> * </span> </b>
                  </p>
                  <div class="example-container">
                    <mat-form-field class="example-chip-list" appearance="outline">
                      <mat-chip-list #chipList>
                        <mat-chip *ngFor="let fruit of fruits" [selectable]="selectable" [removable]="removable" (removed)="remove(fruit)">
                          {{fruit}}
                          <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                        </mat-chip>
                        <input placeholder="Add Skills" #fruitInput [formControl]="fruitCtrl" [matAutocomplete]="auto"
                          [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                          [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="add($event)">
                      </mat-chip-list>
                      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                        <mat-option *ngFor="let fruit of filteredFruits | async" [value]="fruit">
                          {{fruit}}
                        </mat-option>
                      </mat-autocomplete>
                    </mat-form-field>

                  </div>
                </div>

                <div class="col-12 col-md-12">
                  <p class="text-uppercase text-bold">
                    <b>Job Description File<span style="color: #FF4F57;"> * </span> </b>
                  </p>
                  <div class="example-container">
                    <input ng2FileSelect type="file" [uploader]="uploader" />
                  </div>
                </div>
          </div>

          <hr>


          <div class="row post_a_job_sections">
              <div class="col-12 col-md-12 pb-4">
                  <p class="text-uppercase text-bold">
                    <b>Interview Details <span style="color: #FF4F57;"> * </span> </b>
                  </p>

                  <section class="job-type-section">
                    <mat-checkbox class="job-type-margin">Full time</mat-checkbox>
                    <!-- <mat-checkbox class="job-type-margin">Part time</mat-checkbox>
                    <mat-checkbox class="job-type-margin">Intern</mat-checkbox>
                    <mat-checkbox class="job-type-margin">Gig</mat-checkbox>
                    <mat-checkbox class="job-type-margin">Contract</mat-checkbox> -->
                  </section>
                </div>




                <div class="col-12 col-md-12">
                  <p class="text-uppercase text-bold">
                    <b>Time <span style="color: #FF4F57;"> * </span> </b>
                  </p>

                  <div class="row">
                    <div class="col-12 col-md-6">
                      <mat-form-field appearance="outline">
                        <mat-label>Time</mat-label>
                        <mat-select placeholder="From">
                          <mat-option value="12:00 PM">12:00 PM</mat-option>
                          <mat-option value="212:00 PM">12:00 PM</mat-option>
                          <mat-option value="312:00 PM">12:00 PM</mat-option>
                          <mat-option value="412:00 PM">12:00 PM</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>

                    <div class="col-12 col-md-6">
                      <mat-form-field appearance="outline">
                        <mat-label>Time</mat-label>
                        <mat-select placeholder="Onwards">
                          <mat-option value="12:00 PM">12:00 PM</mat-option>
                          <mat-option value="212:00 PM">12:00 PM</mat-option>
                          <mat-option value="312:00 PM">12:00 PM</mat-option>
                          <mat-option value="412:00 PM">12:00 PM</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>
                </div>




                <div class="col-12 col-md-12">
                  <p class="text-uppercase text-bold">
                    <b>Date <span style="color: #FF4F57;"> * </span> </b>
                  </p>

                  <div class="row">
                    <div class="col-12 col-md-6">
                      <mat-form-field appearance="outline">
                        <input matInput [matDatepicker]="picker" placeholder="Choose a date">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                      </mat-form-field>
                    </div>

                    <div class="col-12 col-md-6">
                      <mat-form-field appearance="outline">
                        <input matInput [matDatepicker]="picker__" placeholder="Choose a date">
                        <mat-datepicker-toggle matSuffix [for]="picker__"></mat-datepicker-toggle>
                        <mat-datepicker #picker__></mat-datepicker>
                      </mat-form-field>
                    </div>
                  </div>
                </div>




                <div class="col-12 col-md-12">
                  <p class="text-uppercase text-bold">
                    <b>Venue<span style="color: #FF4F57;"> * </span> </b>
                  </p>
                  <div class="example-container">
                    <mat-form-field appearance="outline">
                      <mat-label>Venue</mat-label>
                      <textarea matInput placeholder="Venue Address" style="min-height: 80px;"></textarea>
                    </mat-form-field>
                  </div>
                </div>
          </div>

          <hr>

          <div class="row post_a_job_sections">
              <div class="col-12 col-md-12 pb-4">
                  <p class="text-uppercase text-bold">
                    <b>Gender preference<span style="color: #FF4F57;"> * </span> </b>
                  </p>
                  <div class="example-container">
                    <mat-checkbox class="mr-0 mr-md-5">Male</mat-checkbox>
                    <mat-checkbox>Female</mat-checkbox>
                  </div>
                </div>


                <div class="col-12 col-md-12">
                  <p class="text-uppercase text-bold">
                    <b>differently abled candidates<span style="color: #FF4F57;"> * </span> </b>
                  </p>
                  <div class="example-container">
                    <mat-radio-group>
                      <mat-radio-button value="1">Prefer Differently Abled Candidates</mat-radio-button>
                    </mat-radio-group>
                  </div>
                </div>
          </div>

          <hr>
          <div class="row post_a_job_sections">
              <div class="col-12">
                <div class="row">
                  <div class="col-12 col-md-4">
                    <mat-checkbox style="color: #F104C8;">
                     <h4 class="mb-0 ml-3"> PREMIUM JOB </h4>
                    </mat-checkbox>
                  </div>
                  <div class="col-12 col-md-auto">
                    <button mat-raised-button class="text-uppercase" style="border: 1px solid #FF4F57; color: #ffffff; background: #FF4F57; border-radius: 50px;">Post a job</button>
                  </div>
                </div>
              </div>
          </div>

        </form>
      </div>

    </div>

  </div>
</section>






